@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@700&family=Roboto:wght@700&display=swap');
:root{ 
    --text: #252B42;
    --accent: #FA4A0C; 
    --white: #FFF; 
    --gray: #5C5C5C;
}
body{ 
    margin: 0;
    padding: 0;
}
.container{ 
    width: 1094px;
    padding: 15px;
    margin: 0 auto;
    outline: 1px solid red;
}
ul{ 
    list-style: none;
}
a{ 
    text-decoration: none;
    color: inherit;
}
a:hover{ 
    color: var(--accent);
    transition: 0.5s;
}
a:not(:hover){ 
    transition: 0.5s;
}
.flex{ 
    display: flex;
}


/* Header  */

.nav-bar{ 
    justify-content: space-between;
    align-items: center;
}
.header-list{ 
    gap: 114px;
}
.header-list-item{ 
    color: var(--text, #252B42);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    letter-spacing: 0.2px;
}
.active{ 
    color: var(--accent);
}
.active:hover{ 
    transform: translateY(5px);
    transition: 0.3s;
}
.active:not(:hover){ 
    transition: 0.3s;
}


/* Section-1  */
